.navbar {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9); /* Optional: Adjust transparency */
  }
  
  .slider-container {
    margin-top: 0px;  
    position: relative;
    z-index: 1;
  }
  


  /* Marquee CSS */

  .marquee-container {
    width: 100%;
    height: 390px; /* Increased height */
    overflow: hidden;
    background: linear-gradient(-45deg, #424141, #2c2c2c, #070001,#757272,  #070001 );
  background-size: 300% 300%; padding: 70px 0px;
    border-radius: 50px 50px 0 0; /* Rounded top corners */
    animation: gradientMove 3s ease infinite;

  }
  
  
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  .marquee {
    display: flex;
    white-space: nowrap; 
    font-size: 16rem; /* Big text */
    text-transform: uppercase;
    word-spacing: 10px ; /* Reduce space between words */
    letter-spacing: -7px; /* Reduce space between letters */
    color: #fff;
    transition: transform 1s ease-in-out; /* Soft transition */
    padding: 0px !important;
    margin: -75px !important;
  }
  
  .line {
    width: 100%;
    height: 3px; /* Line thickness */
    background-color: rgb(250, 246, 246);
    margin: 2px 0; /* Space around lines */
  }

  
  /* No spacing between repeating text */
  .marquee span {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    display: inline-block;
    padding-right: 1rem;
  }
  
  /* Direction-based animations */
  .marquee.right {
    animation: marquee-right 10s linear infinite;
  }
  .marquee.left {
    animation: marquee-left 10s linear infinite;
  }
  
  /* Soft marquee animations */
  @keyframes marquee-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  @keyframes marquee-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }
  
  /* Responsive font sizes */
  @media (max-width: 1093px) {
    .marquee {    margin: -75px !important;

      font-size: 8.5rem;
    }
    .marquee-container {
      height: 270px; /* Increased height */
    } 
    .line { 
      height: 3px; /* Line thickness */
      background-color: rgb(250, 246, 246);
      margin: 39px 0; /* Space around lines */
    } 
  }
  @media (max-width: 493px) {
    .marquee {
      margin: -245px !important;

      font-size: 6.5rem;
    }
    .marquee-container {
      height: 200px; /* Increased height */
    } 
    .line {  
      margin: 109px 0; /* Space around lines */
    } 
  }
  

  .h3css{
    font-size: 39px;
    padding: 4px;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }