*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 ::selection {
  background-color: lightgrey;  
  color: black;  
 }
 ::-moz-selection { 
  background-color: lightgrey;
  color: black;
}
 